<h1 class="headline headline--center">Lorem</h1>

<p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic voluptatum labore. Deserunt nisi molestias, distinctio placeat facilis repellat ipsa, natus consequatur iure voluptatum nesciunt nam minima dolorum ipsum animi!
</p>
