.board {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.board-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 0;
    background-color: $tile-color;
    border: 2px solid $border-color;
    border-radius: 5px;
    font-size: $tile-font-size;
    text-align: center;

    &.correct {
        background-color: $tile-correct-color;
    }

    &.incorrect {
        background-color: $tile-incorrect-color;
    }

    &.misplaced {
        background-color: $tile-misplaced-color;
    }
}

.guess-form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
    width: fit-content;
    max-height: 50px;
    margin: 4em auto;

    input, button {
        height: 100%;
    }
}


