.container {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: $container-color;

    * {
        color: $text-color2;
    }
}

.col-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 1em;

    h3 {
        margin: 0;
    }
}

.highscore-list {
    margin: 0;
    padding: 0 1em;
    overflow-y: scroll;
    height: 500px;
}

.highscore {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em 0;
    padding: .5em;

    &__stat {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    @include line-break;
}