.container {
    margin: 1em;
    border-radius: 10px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 1em;
    }

    label {
        margin-left: 2em;
        margin-right: .5em;
        font-size: .8rem;
        pointer-events: none;
    }

    @include line-break(2px, $border-color);
}

.highscore-table {
    margin-top: 2em;
    table-layout: fixed;
    border-spacing: 0 5px;
    width: 100%;
    overflow-y: scroll;
    text-align: center;

    caption {
        display: none;
    }

    th {
        padding: .5em 1em;
        font-size: .8rem;
    }

    td {
        padding: 1em 1em;
        font-size: .7rem;
        background-color: $container-color;

        &:first-child {
            border-radius: 5px 0 0 5px;
        }

        &:last-child {
            border-radius: 0 5px 5px 0;
        }
    }
}


