/* Wordle colors */
ul, ol {
  list-style: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
}

input {
  margin: 1em auto;
  padding: 0.3em 1em;
  outline: none;
  border: solid 2px #3a3a3c;
  border-radius: 5px;
  background-color: #121213;
  font-size: 1.2rem;
}

.headline--center {
  text-align: center;
}

.btn {
  padding: 0.6em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.btn.primary {
  background-color: #3a3a3c;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  body, html {
    font-size: 24px;
  }
}

* {
  font-family: sans-serif;
  color: white;
}

/* Sections */
.header {
  padding: 1em;
}
.header h1 {
  margin: auto 0;
}

@media (min-width: 600px) {
  .header {
    display: flex;
    gap: 4em;
  }
}
.board {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.board-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 0;
  background-color: #121213;
  border: 2px solid #3a3a3c;
  border-radius: 5px;
  font-size: 42px;
  text-align: center;
}
.tile.correct {
  animation: tile-reveal-correct 0.5s;
  background-color: #538d4e;
}
.tile.incorrect {
  animation: tile-reveal-incorrect 0.5s;
  background-color: #3a3a3c;
}
.tile.misplaced {
  animation: tile-reveal-misplaced 0.2s 3 ease-in-out;
  background-color: #b59f3b;
}

@keyframes tile-reveal-correct {
  from {
    transform: scale(-1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes tile-reveal-incorrect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tile-reveal-misplaced {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.guess-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
  max-height: 50px;
  margin: 4em auto;
}
.guess-form input, .guess-form button {
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 0;
}

.nav-item a {
  font-weight: bold;
}
.nav-item.selected a {
  color: blue;
}

.container {
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
}
.container * {
  color: black;
}

.col-headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1em;
}
.col-headers h3 {
  margin: 0;
  text-align: center;
}

.highscore-list {
  margin: 0;
  padding: 0 1em;
  overflow-y: scroll;
  height: 500px;
}

.highscore {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em 0;
  padding: 0.5em;
  position: relative;
}
.highscore__stat {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
.highscore::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
  height: 5px;
  background-color: black;
}
