.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 30px;

    animation: scale-in .5s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorButton);
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--colorFont);
    transition: .3s;
}

input:checked+.slider {
    background-color: var(--colorChecked);
}

input:checked+.slider:before {
    transform: translateX(100%);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}