.dropdown {
    position: relative;
    display: block;
}

.dropdown-toggle {
    display: block;
    margin: .5em 0;
    padding: .5em 2em;
    padding-left: 1em;
    font-size: 16px;
    color: $text-color1;

    background-color: $select-color;
    border: none;
    border-radius: 5px;

    &::after {
        content: '';
        position: absolute;
        width: .7em;
        height: .5em;
        margin: .3em .6em;
        background-color: white;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
}

.dropdown-toggle.selected {
    filter: brightness(150%);

    &::after {
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
    z-index: 90;
    border-radius: 5px;
    background-color: $select-color;
    box-shadow: 0 0 20px rgba(black, .5);

    a {
        display: block;
        padding: .3em 1em;
        text-align: center;
        word-wrap: normal;
        font-size: 16px;
        font-weight: 300;
        border-radius: 5px;

        &:hover {
            background-color: rgba(white, .1);
        }
    }
}

.dropdown-menu.show {
    display: block;
}

