@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import 'variables.scss';
@import 'misc.scss';
@import 'mixins.scss';

body, html {
    margin: 0;
    padding: 0;
    background-color: #222831;

    @media (min-width: $bp-medium) {
        font-size: 18px;    
    }

    @include container;
}

* {
    font-family: 'Noto Sans', sans-serif;
    color: $text-color1;
}

@import 'modal.scss';
@import 'dropdown.scss';
@import 'checkbox.scss';

/* Sections */
@import 'sections/header.scss';
@import 'sections/game.scss';
@import 'sections/menu-bar.scss';
@import 'sections/game-end-menu.scss';
@import 'sections/settings-menu.scss';
@import 'sections/main-nav.scss';
@import 'sections/highscores.scss';


