$bp-small: 300px;
$bp-medium: 750px;
$bp-large: 1000px;

$text-color1: white;
$text-color2: #15181d;
$container-color: #393E46;
$modal-color: #222831;
$btn-primary-color: white;
$btn-secondary-color: #222831;
$input-color: #393E46;
$select-color: #393E46;
$border-color: rgba(255, 255, 255, 0.2);

/* Wordle colors */
$tile-color: #15181d;
$tile-correct-color: #538d4e;
$tile-incorrect-color: #393E46;
$tile-misplaced-color: #b59f3b;

$tile-font-size: 42px;